$theme-color: #7ad6bb;
$white-color: #ffffff;

.navbar--color {
    background-color: $theme-color;
}

.supra-nav__image {
    max-width: 100%;
    max-height: 100%;
}
	
.navbar-brand__image {
	width: 4rem;
    border-radius: 3rem;
    border: 2px solid rgba(255, 255, 255, .5);
}

.navbar-brand__image--position {
    position: absolute;
    top: -1rem;
    left: 1rem;
}

.quote-block {
	padding: 0 0 0 2rem;
    margin: 3rem;
    border-left: .5rem solid $theme-color;
}

.gallery__img {
    border: none;
    background: $white-color;
}

.gallery__img--format {
    max-width:100%;
    max-height:100%;
}

@media (max-width: 450px) {
	.quote-block {
		margin: 1rem;
	}
}

@import '~bootstrap/scss/bootstrap.scss';